@font-face {
    font-family: "thin";
    src: url("./../fonts/NotoSansCJKkr-Thin.otf") format("truetype");
}
@font-face {
    font-family: "regular";
    src: url("./../fonts/NotoSansCJKkr-Regular.otf") format("truetype");
}
@font-face {
    font-family: "medium";
    src: url("./../fonts/NotoSansCJKkr-Medium.otf") format("truetype");
}
@font-face {
    font-family: "light";
    src: url("./../fonts/NotoSansCJKkr-Light.otf") format("truetype");
}
@font-face {
    font-family: "Bold";
    src: url("./../fonts/NotoSansCJKkr-Bold.otf") format("truetype");
}
@font-face {
    font-family: "Black";
    src: url("./../fonts/NotoSansCJKkr-Black.otf") format("truetype");
}
html,
body {
    background-color: rgb(246, 247, 251);
    padding: 20;
    margin: 0;
    font-family: "NanumGothic";
}
p {
    margin: 0px;
}
.center {
    display: flex;
    justify-content: center;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.Home {
    .section_item {
        .item_header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                font-family: "bold";
                font-size: 1.3rem;
            }
            span {
                font-family: "regular";
                font-size: 1rem;
                color: gray;
            }
        }
        .item_slide_list {
            display: flex;

            justify-content: space-around;
            display: flex;
            flex-wrap: nowrap;

            overflow-x: scroll;
            overflow-y: hidden;

            .CategoryItem {
                flex: 0 0 auto;

                // MOBILE
                @media screen and (max-width: 768px) {
                    width: 100px;
                    height: 100px;
                }

                // DESKTOP
                @media screen and (min-width: 768px) {
                    width: 150px;
                    height: 130px;
                }
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 15px;
                cursor: pointer;

                border-radius: 5px;
                border: 0.5px solid rgb(235, 235, 249);
                box-shadow: rgba(133, 139, 146, 0.06) 8px 8px 16px 4px;

                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                .info {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;

                    font-family: "regular";
                }
            }
        }

        .item_vertical_list {
            .ProductItem {
                margin-bottom: 20px;
                background-color: white;

                padding: 10px;
                color: #434343;
                border-radius: 5px;

                border: 0.5px solid rgb(235, 235, 249);
                box-shadow: rgba(133, 139, 146, 0.06) 8px 8px 16px 4px;

                display: flex;
                justify-content: space-between;
                .img_box {
                    width: 120px;
                    height: 120px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .info_box {
                    flex-grow: 1;
                    margin-left: 10px;

                    .meta_info {
                        .rank {
                            display: block;
                            font-family: "bold";
                            color: rgb(115, 143, 255);
                            font-size: 1.2rem;
                        }
                        .category {
                            color: gray;
                            font-family: "regular";
                            font-size: 0.8rem;
                        }
                        margin-bottom: 5px;
                    }
                    .title {
                        font-family: "bold";
                        font-size: 1rem;
                    }
                    .badge_list {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;

                        img {
                            width: 58px;
                            height: 16px;
                            margin-right: 10px;
                        }
                        .freeshipping {
                            font-size: 0.8rem;
                            color: rgb(255, 59, 59);
                            font-family: "medium";
                        }
                    }
                }
            }
        }
    }
}
